<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.amplm.nct.dev</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/amphoraxe/Developer/AMP_LLMs/amp_llm_v3/llm_env/bin/uvicorn</string>
        <string>nct_api:app</string>
        <string>--port</string>
        <string>9002</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/amphoraxe/Developer/AMP_LLMs/amp_llm_v3/standalone modules/nct_lookup</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/amphoraxe/Developer/AMP_LLMs/amp_llm_v3/llm_env/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/amphoraxe/Developer/AMP_LLMs/amp_llm_v3/logs/nct_dev.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/amphoraxe/Developer/AMP_LLMs/amp_llm_v3/logs/nct_dev.error.log</string>
</dict>
</plist>